<div class="p-3">
    <div class="card">
        <div class="card-header text-center">
            <h1>Скачать Factorio</h1>
        </div>
        <div class="card-body">
            Доступные файлы
            <ul>
                @try
                {
                    @foreach (var v in @Directory.GetFiles(Directory.GetCurrentDirectory() + "/wwwroot/factorio"))
                    {
                        <li>
                            <a href="./factorio/@Path.GetFileName(v)" target="_blank">@Path.GetFileName(v)</a>
                        </li>
                    }
                }
                catch (Exception ex)
                {
                    Guid guid = Guid.NewGuid();
                    Console.WriteLine($"[{guid}]\n{ex}\n\n");
                    <li>
                        Произошла ошибка! Предоставьте администратору ID ошибки: @guid.ToString()
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

@code {

}