@inject FHW.Services.FactorioUpdateService factorioUpdateService

<h3>Update</h3>

@code {
    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender) 
        {
            
        }
    }
}
