@using Microsoft.AspNetCore.Components.Web
@namespace FHW.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="FHW.styles.css" rel="stylesheet" />
    <link href="_content/Blazor.Bootstrap/Blazor.Bootstrap.bundle.scp.css" rel="stylesheet" />
    <meta name="description" content="Unofficial Factorio mod manager" />
    <style>
        :root,
        [data-bs-theme=dark] {
            /*--bb-sidebar-width: 270px;*/
            --bb-sidebar-collapsed-width: 50px;
            --bb-sidebar-background-color: rgba(65, 64, 64, 1);
            --bb-sidebar-top-row-background-color: rgba(36,35,36,1);
            --bb-sidebar-top-row-border-color: rgb(46 38 35 / 28%);
            --bb-sidebar-title-text-color: #ffe6c0;
            --bb-sidebar-brand-icon-color: #ffa900;
            --bb-sidebar-brand-image-width: 24px;
            --bb-sidebar-brand-image-height: 24px;
            --bb-sidebar-title-badge-text-color: rgb(255,255,255);
            --bb-sidebar-title-badge-background-color: rgba(25,135,84,var(--bs-bg-opacity,1));
            --bb-sidebar-navbar-toggler-icon-color: rgb(0,0,0);
            --bb-sidebar-navbar-toggler-background-color: rgba(0,0,0,0.08);
            --bb-sidebar-content-border-color: rgba(0,0,0,0);
            --bb-sidebar-nav-item-text-color: #ffa900;
            --bb-sidebar-nav-item-text-active-color-rgb: 255,230,192;
            --bb-sidebar-nav-item-text-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
            --bb-sidebar-nav-item-text-active-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.9);
            --bb-sidebar-nav-item-background-hover-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
            --bb-sidebar-nav-item-group-background-color: rgba(var(--bb-sidebar-nav-item-text-active-color-rgb),0.08);
        }
        root,
        [data-bs-theme=dark] {
            color-scheme: dark;
            --bs-body-color: #ffe6c0;/**/
            --bs-body-color-rgb: 255, 230, 192;/**/
            --bs-primary-rgb: 36, 35, 36;/**/
            --bs-body-bg: #414040; /**/
            --bs-body-bg-rgb: 33, 37, 41;
            --bs-emphasis-color: #ffe6c0; /**/
            --bs-emphasis-color-rgb: 255, 230, 192; /**/
            --bs-secondary-color: rgba(222, 226, 230, 0.75);
            --bs-secondary-color-rgb: 222, 226, 230;
            --bs-secondary-bg: #343a40;
            --bs-secondary-bg-rgb: 52, 58, 64;
            --bs-tertiary-color: rgba(222, 226, 230, 0.5);
            --bs-tertiary-color-rgb: 222, 226, 230;
            --bs-tertiary-bg: #2b3035;
            --bs-tertiary-bg-rgb: 43, 48, 53;
            --bs-primary-bg-subtle: #031633;
            --bs-secondary-bg-subtle: #161719;
            --bs-success-bg-subtle: #051b11;
            --bs-info-bg-subtle: #032830;
            --bs-warning-bg-subtle: #332701;
            --bs-danger-bg-subtle: #2c0b0e;
            --bs-light-bg-subtle: #343a40;
            --bs-dark-bg-subtle: #1a1d20;
            --bs-primary-border-subtle: #084298;
            --bs-secondary-border-subtle: #41464b;
            --bs-success-border-subtle: #0f5132;
            --bs-info-border-subtle: #087990;
            --bs-warning-border-subtle: #997404;
            --bs-danger-border-subtle: #842029;
            --bs-light-border-subtle: #495057;
            --bs-dark-border-subtle: #343a40;
            --bs-heading-color: #ffa900; /**/
            --bs-link-color: #6ea8fe;
            --bs-link-hover-color: #8bb9fe;
            --bs-link-color-rgb: 110, 168, 254;
            --bs-link-hover-color-rgb: 139, 185, 254;
            --bs-code-color: #e685b5;
            --bs-border-color: #495057;
            --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
            --bs-form-valid-color: #75b798;
            --bs-form-valid-border-color: #75b798;
            --bs-form-invalid-color: #ea868f;
            --bs-form-invalid-border-color: #ea868f;
        }
        .btn-factorio-primary {
            --bs-btn-color: #000;
            --bs-btn-bg: #e39827;
            --bs-btn-border-color: #f9b44b;
            --bs-btn-hover-color: #000;
            --bs-btn-hover-bg: #f1be64;
            --bs-btn-hover-border-color: #000;
            --bs-btn-focus-shadow-rgb: 49,132,253;
            --bs-btn-active-color: #000;
            --bs-btn-active-bg: #e39827;
            --bs-btn-active-border-color: #000;
            --bs-btn-active-shadow: inset 0px 10px 2px -8px #000, inset 0px 9px 2px -8px #000, inset 8px 0px 4px -8px #563a10, inset 8px 0px 4px -8px #563a10, inset -8px 0px 4px -8px #563a10, inset -8px 0px 4px -8px #563a10, inset 0px 9px 2px -8px #563a10, inset 0px -9px 2px -8px #563a10, inset 0px -8.5px 0px -8px #563a10, 0px 0px 4px 0px #000000;
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #0d6efd;
            --bs-btn-disabled-border-color: #0d6efd;
        }
        .btn-factorio-dark {
            --bs-btn-color: #1b1200;
            --bs-btn-bg: #8e8e8e;
            --bs-btn-border-color: #a5a5a5;
            --bs-btn-hover-color: #000;
            --bs-btn-hover-bg: #f1be64;
            --bs-btn-hover-border-color: #000;
            --bs-btn-focus-shadow-rgb: 49,132,253;
            --bs-btn-active-color: #000;
            --bs-btn-active-bg: #8e8e8e;
            --bs-btn-active-border-color: #a5a5a5;
            --bs-btn-active-shadow: inset 8px 0px 4px -8px #000, inset -8px 0px 4px -8px #000, inset 0px 10px 2px -8px #e3e3e3, inset 0px 10px 2px -8px #282828, inset 0px -9px 2px -8px #000, 0px 0px 4px 0px #000000;
            --bs-btn-disabled-color: #fff;
            --bs-btn-disabled-bg: #0d6efd;
            --bs-btn-disabled-border-color: #0d6efd;
        }
    </style>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js" integrity="sha512-gQhCDsnnnUfaRzD8k1L5llCCV6O9HN09zClIzzeJ8OJ9MpGmIlCxm+pdCkqTwqJ4JcjbojFr79rl2F1mzcoLMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> <!-- Add chart.js reference if Chart components are used in the application. -->
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>

    <!--Downloader script-->
    <script>
        window.downloadFileFromStream = async (fileName, contentStreamReference) => {
            const arrayBuffer = await contentStreamReference.arrayBuffer();
            const blob = new Blob([arrayBuffer]);
            const url = URL.createObjectURL(blob);
            const anchorElement = document.createElement('a');
            anchorElement.href = url;
            anchorElement.download = fileName ?? '';
            anchorElement.click();
            anchorElement.remove();
            URL.revokeObjectURL(url);
        }
    </script>

    <script>
        var ip;
        fetch('https://api.ipify.org?format=json')
            .then(response => response.json())
            .then(data => {
                ip = data.ip;
            });
        function getClientIP () {
            return ip;
        }
    </script>
    <script>
        var localip
        function setLocalIP(lip) {
            localip = lip
            console.log("LIP is: " + lip)
            console.log("LocalIP is: " + localip)
            console.log("PublicIP is: " + ip)
        }

        function sendRequestToClient() {
            let xhr = new XMLHttpRequest();
            xhr.open("POST", "http://" + localip + ":9955");
            xhr.setRequestHeader("Accept", "application/json");
            xhr.setRequestHeader("Content-Type", "application/json");

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    console.log(xhr.status);
                    console.log(xhr.responseText);
                    return xhr.status + xhr.responseText;
                }
            };

            let data = `{
                  "Id": 78912,
                  "Customer": "Jason Sweet",
                  "Quantity": 1,
                  "Price": 18.00
                }`;

            xhr.send(data);
        }
    </script>
</body>
</html>
