@page "/about"

<h1>Factorio Helper Online & Factorio Helper 3</h1>

<h3>Приветствую, пользователь!</h3>
<br />
<p>Ты попал на сайт проекта Factorio Helper</p>
<p>В очередной раз я пытаюсь реализовать проект, откладываемый много раз по различным причинам</p>
<p>Сегодня я хочу педоставить Вам условно бесплатный инструмент для загрузки и управления модами</p>
<h4>Что Вы получите:</h4>
<ul>
    <li>Загрузку модов в браузере</li>
    <li>Загрузку модов через браузер на компьютер и их автоматическую установку</li>
    <li>Загрузку игры в браузере</li>
    <li>Загрузку игры через браузер на компьютер и ее установку</li>
    <li>Возможность создавать и делится сборками</li>
    <li>Обмениваться чертежами с другими пользователями и просматривать существующие</li>
</ul>
<h4>Бесплатные функции:</h4>
<ul>
    <li>Хранение до 2х сборок на сервере</li>
    <li>Добавлять до 5 модов в избранное</li>
    <li>Обновлять игру и моды вручную</li>
    <li>Скачивать моды с серверов бесплатных сервисов (к примеру re146.dev)</li>
    <li>Скачивать и обновлять игру не чаще раза в месяц</li>
</ul>
<h4>Что станет платным:</h4>
<ul>
    <li>Хранение более 2х сборок на сервере</li>
    <li>Добавлять более 5 модов в избранное</li>
    <li>Использовать автоматическое обновление сборок</li>
    <li>Скачивать моды через наш сервер в случае отсутствия лицензии или отсутствия мода в бесплатных источниках</li>
    <li>Скачивать несколько версий игры без лицензии в месяц</li>
</ul>
<h5>Список может пополняться новым функционалом в будущем</h5>
<br />
<h3>Спасибо за интерес к нашему приложению! Желаю Вам приятного пользования</h3>

@code {

}
