@page "/"

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand">Добро пожаловать!</a>
        <a class="d-flex" href="/about" target="_blank"><Icon Name="IconName.InfoCircle" />&nbsp;О приложении</a>
    </div>
</nav>

<PageTitle>Factorio Helper Online</PageTitle>


<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-center p-4 p-lg-5">
            <p class="fw-bold mb-2">Начните пользоваться</p>
            <h1 class="fw-bold mb-4">Скачайте моды в браузере<br />или подключите клиент на устройстве</h1>
            <button class="btn btn-factorio-primary fs-5 me-2 py-2 px-4" type="button" style="display:none">
                <Icon Name="IconName.TerminalFill" /> Скачать клиент
            </button>
            <a class="btn btn-factorio-dark fs-5 py-2 px-4" type="button" href="/mods/download">
                <Icon Name="IconName.BrowserChrome" /> Использовать в браузере
            </a>
        </div>
    </div>
</section>
<div class="container py-4 py-xl-5">
    <div class="row mb-5">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <h2>Factorio Tools</h2>
            <p class="w-lg-50">Здесь собраны популярные инструменты для работы с Factorio</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
        <div class="col">
            <div class="d-flex p-3">
                <div class="badge p-3 bg-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <Icon Name="IconName.BoxSeam" Size="IconSize.x5" />
                </div>
                <div class="px-2 d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <h5>Устанавливайте моды</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="badge p-3 bg-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <Icon Name="IconName.CloudUploadFill" Size="IconSize.x5" />
                </div>
                <div class="px-2 d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <h5>Загружайте свои моды</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="badge p-3 bg-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <Icon Name="IconName.Download" Size="IconSize.x5" />
                </div>
                <div class="px-2 d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <h5>Скачивайте игру</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="badge p-3 bg-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <Icon Name="IconName.BagPlusFill" Size="IconSize.x5" />
                </div>
                <div class="px-2 d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <h5>Создавайте сборки</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="badge p-3 bg-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <Icon Name="IconName.ShareFill" Size="IconSize.x5" />
                </div>
                <div class="px-2 d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <h5>Делитесь чертежами</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="d-flex p-3">
                <div class="badge p-3 bg-primary d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <Icon Name="IconName.RocketTakeOffFill" Size="IconSize.x5" />
                </div>
                <div class="px-2 d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block sm">
                    <h5>Запускайте игру по новому</h5>
                </div>
            </div>
        </div>
    </div>
</div>