@page "/"

<PageTitle>Factorio Helper</PageTitle>


<h1>Factorio Helper Online & Factorio Helper 3</h1>

<h3>Приветствую, пользователь!</h3>
<br />
<p>Ты попал на сайт проекта Factorio Helper</p>
<p>Это далеко не первая моя попытка реализовать новую версию данного инструмента</p>
<p>На этот раз я решил сделать упор на веб версию и небольшой клиент для Windows, Linux и MacOS связанный с веб версией для упрощения и централизации всех действий</p>
<br/>
<p>К сожалению я давно перегорел к игре т.к. меня в нее никто не зовет играть, а одному играть очень скучно</p>
<p>из-за чего я перестал как либо поддерживать и разрабатывать Factorio Helper и на этом причины не заканчиваются</p>
<p>На дворе 2023 год и цены на хостинг становятся все выше, а данный проект себя просто не окупает</p>
<p>работать бесплатно и за свой счет содержать сервера дело очень затратное и не выгодное</p>
<br/>
<p>Если не считать мою лень, то все предыдущие причины откладывали очень интересный для Вас проект в долгий ящик</p>
<p>и чтобы не повторить печальную историю текущий проект будет условно бесплатным</p>
<br/>
<p>Что я имел в виду под условно бесплатным:</p>
<p>Вы по прежнему сможете скачивать моды и производится это будет через бесплатные сервисы, либо при наличии лицензии Factorio прямо с их сайта</p>
<p>Может случится, что у Вас нет лицензионной копии игры, а бесплатный сервис перестал работать или переехал на новый адрес</p>
<p>в таком случае Вы всегда сможете скачать моды или игру через наши сервера за небольшую плату</p>
<p>Разумеется цены будут гуманными и исключительно для поддержки жизни проекта</p>
<p>Для особых спонсоров будут также доступны дополнительные возможности приложения, о которых Вы узнаете позже</p>
<br/>
<h3>Спасибо за интерес к нашему приложению! Желаю Вам приятного пользования</h3>