@inherits LayoutComponentBase

<PageTitle>FHW</PageTitle>

<div class="bb-page">

    <Sidebar @ref="sidebar"
             IconName="IconName.Gear"
             Title="FHO"
             DataProvider="SidebarDataProvider" />

    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <a href="/about" target="_blank"><Icon Name="IconName.InfoCircle" /> О приложении</a>
        </div>

        <article class="content px-4">
            <div class="py-2">
                @Body
            </div>
        </article>
    </main>

</div>

<Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" />

@code {
    private Sidebar sidebar = default!;
    private IEnumerable<NavItem> navItems = default!;

    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();

        return await Task.FromResult(request.ApplyTo(navItems));
    }

    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "1", Href = "/", IconName = IconName.House, Text = "Factorio Helper"},
            new NavItem { Id = "11", Href = "/", IconName = IconName.Cloud, Text = "FHO", Match=NavLinkMatch.All, ParentId="1" },
            new NavItem { Id = "12", Href = "https://vk.com/wall-127017434_1148", IconName = IconName.Windows, Text = "FHTM (Windows)", ParentId="1" },

            new NavItem { Id = "2", IconName = IconName.Box2, Text = "Моды" },
            new NavItem { Id = "21", Href = "/Mods/Download", IconName = IconName.Download, Text = "Скачать", ParentId="2" },
            new NavItem { Id = "22", Href = "/Mods/Upload", IconName = IconName.CloudUpload, Text = "Загрузить", ParentId="2" },

            new NavItem { Id = "3", IconName = IconName.Rocket, Text = "Игра" },
            new NavItem { Id = "31", Href = "/Game/Download", IconName = IconName.Download, Text = "Скачать", ParentId="3" },

            new NavItem { Id = "4", IconName = IconName.Rulers, Text = "Чертежи" },
            new NavItem { Id = "41", Href = "/Blueprints/Download", IconName = IconName.Download, Text = "Скачать", ParentId="4" },
            new NavItem { Id = "42", Href = "/Blueprints/Upload", IconName = IconName.CloudUpload, Text = "Загрузить", ParentId="4" },
            new NavItem { Id = "43", Href = "/Blueprints/Manage", IconName = IconName.Toggles, Text = "Управление", ParentId="4" },
        };

        return navItems;
    }
}